/*Card-Image*/
.img-thumbnail{
    margin: 25px;
    height: 85%;
    width: 85%;
}


/*Details Card*/
.card-body{
    padding: 0 25px;
}

card-footer{
    background-color: #fff;
    border-top:none;
    padding: 10px 15px;
}
