<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container">
      <!-- BrandLogo-->
      <a class="navbar-brand" routerLink='/'>Dating App</a>
    
      <!--=================================-->
      <!-- SHOW Only when user is LoggedIn -->
      <!--=================================-->
  
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="currentUser|async">
          <li class="nav-item">
            <a class="nav-link" href='/members'>Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/lists'>List</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink='/messages'>Messages</a>
            </li>
        </ul>
        
        

        <!--============-->
        <!-- DROPDOWN   -->
        <!--============-->
        <!-- SHOW only if user is LoggedIn-->
        <div class="dropdown mr-40" *ngIf="currentUser|async" style="float:right;">
          <a class="dropdown-toggle text-light" style="text-decoration: none!important;" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome user</a>

          <div class="dropdown-menu  mt-3" aria-labelledby="dropdownMenuLink">
             <!-- Profile-->
            <a class="dropdown-item" href="#">Edit Profile</a>
            <div class="dropdown-divider"></div>
             <!--Logout-->
            <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
          </div>
        </div>


        <!--============-->
        <!-- LOGIN FORM -->
        <!--============-->
        <!-- Template Form -->
        <!-- SHOW only when user is not LoggedIn -->
        <form class="form-inline my-2 my-lg-0" #form="ngForm" (ngSubmit)="login()" autocomplete="false" *ngIf="(currentUser|async)===null">
          <!-- Username -->
          <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" [(ngModel)]="model.username">
          <!-- Password -->
          <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" [(ngModel)]="model.password">
          
          <!-- Login Button-->
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form> 
      </div> 
</nav>